@keyframes delayed-tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  to {
    opacity: 1;
  }
}

.animate-delayed-tracking-in-expand {
  animation: delayed-tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}
